Flask==3.1.2
Werkzeug==3.1.5
Flask-SocketIO==5.6.1
eventlet==0.40.4

pymongo==4.16.0
dnspython==2.8.0

python-dotenv
groq==1.0.0
gTTS==2.5.4
moviepy
PyPDF2==3.0.1

requests
Jinja2==3.1.6

bidict==0.23.1
greenlet==3.3.2
simple-websocket==1.1.0
python-engineio==4.13.1
python-socketio==5.16.1